In [1]:
import math
from Functions import *
connection, cursor = get_connection("mydatabase", "shurik", "Lampard8", "localhost", "5432")

Connection established with <cursor object at 0x7f95afcdfc00; closed: 0>

In [ ]:
sql1 = """
        CREATE TABLE litov(id SERIAL PRIMARY KEY, street TEXT, house TEXT)
        """
sql2 = """
        SELECT AddGeometryColumn('litov', 'way', 4326, 'LINESTRING', 2)
        """
sql3 = """
        CREATE INDEX litov_idx ON litov USING gist(way);
        """
sql4 = """
        INSERT INTO litov(street, house, way)
        VALUES ('%s', '%s', ST_LineFromText('%s', 4326))
        """
cursor.execute(sql1)
cursor.execute(sql2)
cursor.execute(sql3)
connection.commit()

In [4]:
sql = "DELETE FROM litov"
cursor.execute(sql)
connection.commit()